.vs/
packages/

Development/

*.suo
*.user
_ReSharper.*


Website/node_modules
Website/src/.vuepress/dist
Website/src/.vuepress/.temp
Website/src/.vuepress/.cache


FluentTune.WinUI/bin/
FluentTune.WinUI/obj/
